/* HomeView */
.container {
  margin-top: 20px;
  background-image: url(../images/book-159880_960_720.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 720px;
}
.title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

/* RegisterView & LoginView*/
.form {
  width: 320px;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
